body {
    background-color: rgb(25,25,25);
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.move-icon {
   height: 50px; 
}

.move-button {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.score {
    margin-top: 50px;
}

.reset-score-b {
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.reset-score-b:hover {
    background-color: orange;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.move-button:hover {
    transform: scale(0.9);
}